/* .card {
    display: inline-block;
}

.H1 {
    
    margin-top: 0px;

}

.Head {
    margin-left: 50px;
    color: #f97316;
    margin-top: 100px;

}

.Btn {
    height: 45px;
    width: 140px;
    background-color: #f97316;
    border-radius: 25px;
    border: 2px #f97316;
    color: aliceblue;
    position: relative;
    top: -140px;
    left: 50px;
    margin: 5px;
}

.scooter {
    position: relative;
    top: -480px;
    padding: 40px;
    height: 500px;
    width: 500px;
    border-radius: 60px;
    margin-left: 700px;

}

.container {
    display: flex;
}


.row {
    margin: 120px;

    
    margin-left: 50px;
    text-align: start;
    padding-left: 60px;
}

.scooty {

    padding: 40px;
    height: 500px;
    width: 500px;
    border-radius: 60px;
    margin-top: -480px;


}

.head {
    margin-left: 500px;
    color: #f97316;
    margin-top: -390px;
}

.col {
    margin-left: 500px;
}

.imge {
    height: 45px;
    width: 140px;
    border-radius: 25px;
    background-color: #f97316;
    color: aliceblue;
    border: #f97316;
    position: relative;
    left: 480px;
     right: 50px;
     top: 15px;
     margin: 5px;
     margin-left: 15px;
     

} */